section.about-me
	.container
		h2.title ОБУЧЕНИЕ ПРОВОДИТ ЕЛЕНА СВЕТЛОВА
		.about-me__wrapper
			ul.about-me__list
				li.about-me__item
					img.about-me__star(src="icons/star.svg")
					| Дипломированный астролог, астропсихолог
				li.about-me__item
				img.about-me__star(src="icons/star.svg")
				| Основатель школы астрологии, где в течение 5 лет проходил курс «Формула Души»
				li.about-me__item
				img.about-me__star(src="icons/star.svg")
				| 7 лет практики в астрологии
				li.about-me__item
				img.about-me__star(src="icons/star.svg")
				| 27 лет педагогической практики
				li.about-me__item
				img.about-me__star(src="icons/star.svg")
				| Педагогика – это мое призвание и любовь!
				li.about-me__item
				img.about-me__star(src="icons/star.svg")
				| Я умею доносить сложное простым языком коротко и информативно
			img.about-me__img(src="img/photo.jpg")