section.about-course
	.container
		h2.title Этот курс для Вас, если Вы:
		.about-course__wrapper
			.about-course__item
				.about-course__subtitle Хотите изучить астрологию «для себя»
				ul.about-course__list
					li Вы хотите помочь себе и близким в раскрытии потенциала, поиске предназначения и реализации в сферах карьеры, финансов, здоровья, отношений
				hr
				.about-course__get ЧТО ПОЛУЧИТЕ
				ul.about-course__list
					li Научитесь читать натальную карту
					li Научитесь понимать себя и своих близких
					li Прокачаете все самые важные сферы в жизни
			.about-course__item
				.about-course__subtitle Хотите стать астрологом – консультантом
				ul.about-course__list
					li Вы хотите освоить инструмент практической астрологии, чтобы помогать другим людям
					li Хотите получить новый способ заработка
				hr
				.about-course__get ЧТО ПОЛУЧИТЕ
				ul.about-course__list
					li Начнете консультировать без страха и упрека
					li Освоите алгоритм компенсаторной астрологии
					li Создадите стратегию развития для выхода на новый уровень