section.choose#choose
	.container
		h2.title ВЫБЕРИТЕ ФОРМАТ УЧАСТИЯ
		.choose__wrapper
			.choose__item
				.choose__subtitle Базовый
				.choose__price <span class="choose__discount">29 900 руб</span> или 5900 руб/месяц
				.choose__hidden-content Только до 25 июля! С 26.07 только помесячная оплата. Поделите 29900 на 7, 5 месяцев получается 4000 руб/месяц, очень приятная цена
				ul.choose__list
					li 42 урока (28 теория + 14 практика)
					li Методические материалы
					li Проверка заданий преподавателем
					li Чат с участниками курса и преподавателем
					li Участие в закрытой группе ВК
					li Сертификат после экзамена
					li.unavailable Доступ к лекциям на 1 год
					li.unavailable Сопровождение от Елены
				button.button.button_mini(data-format="basic") Оплатить
			.choose__item
				.choose__subtitle.choose__subtitle_vip VIP
				.choose__price <span class="choose__discount">49 900 руб</span> или 7900 руб/месяц
				ul.choose__list
					li 42 урока (28 теория + 14 практика)
					li Методические материалы
					li Проверка заданий преподавателем
					li Чат с участниками курса и преподавателем
					li Сертификат после экзамена
					li Участие в закрытой группе ВК
					li Доступ к лекциям на 1 год
					li.choose__li-toggler Сопровождение от Елены
						img.choose__toggler(src="icons/angle.svg")
						ul.choose__second-list
							li Персональный чат с Еленой
							li 7 индивидуальных практических занятий в течение 7 месяцев
							li Помощь в подготовке к итоговому экзамену
							li Помощь в подготовке и проведении первых двух консультаций
				button.button.button_mini(data-format="vip") Оплатить