section.format
	.container
		h2.title Формат обучения
		.format__wrapper
			.format__item
				.format__round
					img(src="icons/format/calendar.svg")
				.format__subtitle Длительность курса 7, 5 месяцев
			.format__item
				.format__round
					img(src="icons/format/lessons.svg")
				.format__subtitle 28 уроков в записи + 14 практических занятия (2 раза в месяц)
			.format__item
				.format__round
					img(src="icons/format/book.svg")
				.format__subtitle Методические материалы к урокам
			.format__item
				.format__round
					img(src="icons/format/star.svg")
				.format__subtitle Индивидуальные учебные сессии в рамках тарифа «VIP»
		.format__feedback Обратная связь:
		.format__wrapper
			.format__item
				.format__round
					img(src="icons/format/check.svg")
				.format__subtitle Проверка домашних заданий преподавателем
			.format__item
				.format__round
					img(src="icons/format/chat.svg")
				.format__subtitle Чат с преподавателем и участниками курса