nav.menu
	.container
		ul.menu__list
			li.menu__item
				a.menu__link(href="#program") Программа курса
			li.menu__item
				a.menu__link(href="#format") Формат
			li.menu__item
				a.menu__link(href="#choose") Тариф
			li.menu__item
				a.menu__link(href="#about-me") Обо мне
			li.menu__item
				a.menu__link(href="#reviews") Отзывы