nav.menu
	.container
		ul.menu__list
			li.menu__item
				a.menu__link(href="#") Контакты
			li.menu__item
				a.menu__link(href="#") Обо мне
			li.menu__item
				a.menu__link(href="#") Тариф
			li.menu__item
				a.menu__link(href="#") Программа курса
			li.menu__item
				a.menu__link(href="#") Формат
			li.menu__item
				a.menu__link(href="#") Отзывы