section.program
	.container
		h2.title Программа курса
		.program__steps
			.program__step
				.program__step-number I модуль
				img.program__btn(src="icons/angle.svg")
			ul.program__webinars
				li.visible 1. Кармическое предназначение. Программа духа и программа тела. Астрологическая концепция развития личности. Лунные узлы
				li.visible 2. Теория аспектов. Чтение аспектов в динамике и статике. Алгоритм самостоятельного толкования аспектов. Сила аспекта. Гармоничные и напряженные аспекты
				li.visible 3. Луна – моё место в мире. Функции Луны. Интерпретация в знаках, аспектах, домах. Алгоритм компенсации. Астрологическое предложение
				li.visible 4. Солнце – источник энергии и ресурсов. Интерпретация в знаках, аспектах, домах. Алгоритм компенсации
				li.visible 5. Солнце – источник энергии и ресурсов. Интерпретация в знаках, аспектах, домах. Алгоритм компенсации
				li.more.visible
					div
					div
					div
				li 6. Меркурий – проводник информации и коммуникации. Интерпретация в знаках, аспектах, домах. Алгоритм компенсации
				li 7. Венера – отношение к деньгам, партнерство. Интерпретация в знаках, аспектах, домах. Алгоритм компенсации
				li 8. Марс – воля и действие. Интерпретация в знаках, аспектах, домах. Алгоритм компенсации
				li 9. Социальные планеты Юпитер и Сатурн – правила, мораль и ценности. Интерпретация в домах. Алгоритм компенсации
				li 10. Высшие планеты – суперспособности и связь с космосом. Интерпретация в домах. Алгоритм компенсации
				li 11. Черная Луна – слепое пятно натальной карты. Уровни проявления. Интерпретация в знаках и домах. Методы компенсации
				li 12. Нюансы натальной карты. Сила планет. Планета в шахте, планета в осаде, падение, ретроградность, критические градусы, ангуляр, двойное управление
			.program__step
				.program__step-number II модуль
				img.program__btn(src="icons/angle.svg")
			ul.program__webinars
				li.visible 13. Дома гороскопа. Сила и гармоничность дома. Этажи дома
				li.visible 14. Альмутен (управитель) дома. Управитель в домах. Управитель гороскопа
				li.visible 15. Домарная и планетарная цепочки диспозиций – невидимая связь в психике и событийности
				li.visible 16. Конфигурации аспектов
				li.visible 17. Связи домов. Формулы событий как жизненный сценарий. Как вехи судьбы
				li.visible 18. Тематический анализ дома – основа для интерпретации жизненно важных сфер
				li.more.visible
					div
					div
					div
				li 19. Компенсаторика по-взрослому. Виды компенсации и алгоритм подбора компенсаторных мер
				li 20. Сила рода, родовые сценарии. Родовые дома. Кармические задачи перед родом
				li 21. Астрология здоровья. Диагностика здоровья по карте
				li 22. Астрология личной жизни
				li 23. Профориентация. Как и где реализовать себя и жить по кайфу
				li 24. Финансы в натальной карте. Алгоритм расширения финансового потока
				li 25. Детский гороскоп. Нюансы детской натальной карты. Как задать продуктивный вектор развития для ребенка
				li 26. Практика и еще раз практика!