section.promo
	.container-fluid
		h1.promo__header Трансформационный курс <br> <span> </span> «Я – АСТРОЛОГ»
		h2.promo__subheader Первый поток – старт 20 августа
		.promo__about-hard О сложном просто, четко и доступно
		a.button(href="#choose") Выбрать тариф
		.promo__contact Связаться со мной:
		.promo__social
			a.promo__link(href="https://www.instagram.com/astrolog.svetlova" target="_blank")
				img(src="icons/social/instagram.svg")
			a.promo__link(href="https://vk.com/astro_nebo" target="_blank")
				img(src="icons/social/vk.svg")
			a.promo__link(href="https://t.me/astrosvetlova" target="_blank")
				img(src="icons/social/telegram.svg")