section.promo
	.container-fluid
		h1.promo__header Трансформационный курс «Я – АСТРОЛОГ»
		h2.promo__subheader Первый поток – старт 20 августа
		.promo__about-hard О сложном просто, четко и доступно
		a.button(href="#choose") Выбрать тариф