section.promo
	.container-fluid
		h1.promo__header Школа Астрологии  Елены Светловой
		h2.promo__subheader Первый поток – старт 20 августа
		h3.promo__course Трансформационный курс
		.promo__about-hard О сложном просто, четко и доступно
		a.button(href="#") Выбрать тариф