section.questions
	.container
		h2.title Часто задаваемые вопросы
		.questions__wrapper
			.questions__item
				.questions__content
					.questions__subtitle КАК ОПЛАТИТЬ КУРС?
					img.questions__plus(src="icons/plus.svg")
				.questions__answer.large
					| Выберите удобный для Вас тариф. Выберите оплату сразу или ежемесячно (с 15 по 19 число каждого месяца). <br>
					| Кликните «перейти к оплате». Оплатите курс. Сделайте скрин и пришлите в ЛС. <br> Instagram <a class="questions__link" href="https://www.instagram.com/astrolog.svetlova/">astrolog.svetlova</a>
			.questions__item
				.questions__content
					.questions__subtitle ЕСЛИ ДО ЭТОГО Я НЕ ИЗУЧАЛА АСТРОЛОГИЮ, БУДЕТ ЛИ МНЕ ПОНЯТНО?
					img.questions__plus(src="icons/plus.svg")
				.questions__answer.medium Курс подходит для тех, кто пришел в астрологию «с нуля». А также есть поддержка преподавателя, что не понятно, всегда можно решить.
			.questions__item
				.questions__content
					.questions__subtitle КОГДА СТАРТ КУРСА И СКОЛЬКО ПО ВРЕМЕНИ ДЛИТСЯ?
					img.questions__plus(src="icons/plus.svg")
				.questions__answer Начало курса 20 августа. Длительность курса 7, 5 месяцев.
			.questions__item
				.questions__content
					.questions__subtitle НУЖНЫ ЛИ КАКИЕ-ТО ДОПОЛНИТЕЛЬНЫЕ МАТЕРИАЛЫ
					img.questions__plus(src="icons/plus.svg")
				.questions__answer Нет. Все необходимое для обучения будет в доступе.
			.questions__item
				.questions__content
					.questions__subtitle СКОЛЬКО БУДУТ ДОСТУПНЫ ЗАПИСИ УРОКОВ?
					img.questions__plus(src="icons/plus.svg")
				.questions__answer Записи доступны в течение 1 года.