section.reviews#reviews
	.container
		h2.title Отзывы
		.reviews__item
			.reviews__info
				img.reviews__avatar(src="img/avatar.jpg")
				.reviews__name Валентина
			.reviews__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nobis ducimus nemo sunt vel itaque iusto alias dignissimos consequuntur nisi deleniti? Temporibus dicta ab hic. Nam repellendus numquam eius quia! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quia fugiat porro provident ea ratione deleniti doloremque minima facilis omnis vero debitis culpa dolorem eius, error impedit vitae nihil labore!
		.reviews__item
			.reviews__info
				img.reviews__avatar(src="img/avatar1.jpg")
				.reviews__name Екатерина
			.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit placeat commodi eum alias quia, excepturi rerum eius tenetur ducimus ipsa at corrupti cupiditate autem nisi ut, porro nihil, quos quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae natus explicabo aliquid id eum, qui reprehenderit, eaque officiis quo deleniti corporis adipisci consequuntur soluta, itaque repellat harum. Corporis, dignissimos!
		.reviews__item
			.reviews__info
				img.reviews__avatar(src="img/avatar2.jpg")
				.reviews__name Петр
			.reviews__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nobis ducimus nemo sunt vel itaque iusto alias dignissimos consequuntur nisi deleniti? Temporibus dicta ab hic. Nam repellendus numquam eius quia! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur numquam officia fuga nesciunt? Ea nobis error harum porro non corporis nulla dolorum quas obcaecati ex culpa, ullam nihil animi aliquid?