section.reviews#reviews
	.container
		h2.title Отзывы
		.reviews__item
			.reviews__info
				img.reviews__avatar(src="img/reviews/avatar1.jpg")
				.reviews__name Динара Гильмутдинова
			.reviews__text Хочу выразить благодарность Елене за курс по ФД. Столько информации не найдёте нигде, все доступно, понятно, простым языком, то что нужно, особенно новичкам как я. А с каким багажом знаний я закончила обучение! Раньше я скептически относилась к астрологии, а сейчас я иду на след курс. Елена влюбила меня в эту науку. Очень комфортно и приятно у неё учиться!
		.reviews__item
			.reviews__info
				img.reviews__avatar(src="img/reviews/avatar2.jpg")
				.reviews__name Алла Голдина
			.reviews__text Лена большое спасибо за курс по связкам планет! По формуле души я проходила очень много курсов, но каждый раз бросала эту тему, так как не было полноценного понимания курса. Сожалею только об одном, что не попала именно к Вам на курс в самом начале своего обучения, столько времени зря потеряно... Никто ни разу не объяснил так доходчиво и чётко как толковать связки планет. Информация по курсу дана безо всякой "воды", лаконично и понятно. По-возможности, буду проходить и другие Ваши курсы, чего и всем желаю. Потому, что таких преподавателей как Лена, просто единицы, но радостно, что все же Вы есть. Ещё раз большое, человеческое СПАСИБО
		.reviews__item
			.reviews__info
				img.reviews__avatar(src="img/reviews/avatar3.jpg")
				.reviews__name Юлия Самадзе
			.reviews__text Тоже хотела бы выразить свою благодарность Елене за такой доступный для начинающий и, в тоже время, глубокий курс, который заразил меня любовью к астропсихологии, а в последствии - и к астрологии Очень понравился формат видеоуроков, как маме в декрете не всегда удобно подстраиваться под определенное время, а так можно просматривать уроки, когда появляется свободная минутка И самое главное - возможность при личной беседе обсудить и закрепить материал на практике! Если вы наверняка решили освоить эту замечательную методику, очень рекомендую пройти курс именно у Елены. Это глубокое погружение в астропсихологию и основы астрологии. Вас познакомят с тем, как проявляют себя планеты в разных знаках, какие аспекты образовывают между собой и как это все отражается на психологическом портрете личности. Думаю, более глубоким этот курс сделать невозможно) Елена щедро делиться своими знаниями и к ней всегда можно обратиться за советом! Ещё раз благодарю