section.worth
	.container
		h2.title ПОЧЕМУ СТОИТ ПРОЙТИ ОБУЧЕНИЕ ИМЕННО У МЕНЯ
		.worth__wrapper
			.worth__item
				.worth__round
					img(src="icons/star-empty.svg")
				.worth__subtitle Компенсаторика
				.worth__descr Мало научиться читать натальную карту! Нужно еще и понимать, как напряженные участи в карте использовать себе во благо
			.worth__item
				.worth__round
					img(src="icons/star-empty.svg")
				.worth__subtitle Наличие практик
				.worth__descr Теория без практики мертва. Она проходит на ваших картах и картах ваших близких.
			.worth__item
				.worth__round
					img(src="icons/star-empty.svg")
				.worth__subtitle Комфорт и удобство
				.worth__descr Лекции в записи, а значит, вы можете прослушать их в любое удобное для вас время. Вы сможете учиться в любом удобном для вас режиме с любых устройств.
		.worth__wrapper
			.worth__item
				.worth__round
					img(src="icons/star-empty.svg")
				.worth__subtitle Постоянный контакт с преподавателем
				.worth__descr Закрытая группа + чат. Я уделяю внимание каждому заинтересованному ученику. 
			.worth__item
				.worth__round
					img(src="icons/star-empty.svg")
				.worth__subtitle Невысокая цена в сегменте
				.worth__descr При этом информативные, четко структурированный лекции длительностью 2-3 часа + практика!