@import "libs/reboot"
@import "base/fonts"
@import "base/variables"

*
	font-family: "Montserrat", sans-serif

a
	color: #fff
	text-decoration: none
	&:hover
		color: #fff
		text-decoration: none

h1, h2, h3, h4, h5, h6
	font-family: "Comfortaa"

.container-fluid
	width: 100%
	padding: 0 25px 0 25px
	margin: 0 auto
	position: relative

.container
	max-width: 1160px
	margin: 0 auto
	position: relative
	
@import "blocks/menu"
@import "blocks/promo"
@import "blocks/button"
@import "blocks/about-course"
@import "blocks/title"
@import "blocks/format"
@import "blocks/program"
@import "blocks/choose"
@import "blocks/about-me"
@import "blocks/worth"
@import "blocks/reviews"
@import "blocks/questions"
@import "blocks/modal"