.about-course
	min-height: 550px
	padding: 64px 0 56px 0
	background-color: #524981
	color: #fff
	&__wrapper
		display: flex
		justify-content: center
	&__item
		width: 440px
		margin: 0 25px
	&__subtitle
		margin-top: 50px
		text-align: center
		font-size: 19px
		font-weight: 700
	&__list
		margin: 0 auto
		margin-top: 20px
		font-weight: 400
		font-size: 16px
		list-style-type: none
		width: 92%
		min-height: 125px
		li
			margin-top: 10px
			&:first-child
				margin-top: 0
	&__get
		text-align: center
		font-weight: 700
		text-transform: uppercase
	
	hr
		width: 45%
		margin: 10px auto
		background-color: #fff
		height: 1.5px