.about-course
	padding: 98px 0 88px 0
	min-height: 550px
	background: linear-gradient(180deg, #423674 0%, $secondary-color 20%)
	color: #fff
	&__wrapper
		display: flex
		justify-content: center
	&__item
		width: 520px
		margin: 0 20px
		margin-top: 50px
	&__subtitle
		text-align: center
		font-size: 21px
		font-weight: 700
		text-transform: uppercase
	&__list
		margin: 0 auto
		margin-top: 20px
		font-weight: 400
		font-size: 19px
		list-style-type: none
		width: 92%
		min-height: 135px
		&_small
			font-size: 17px
		li
			margin-top: 16px
			&:first-child
				margin-top: 0
	&__get
		text-align: center
		font-weight: 700
		font-size: 19px
		text-transform: uppercase
	
	hr
		width: 48%
		margin: 10px auto
		background-color: #fff
		height: 1.5px