.button
	font-family: "Comfortaa"
	font-size: 17px
	height: 54px
	width: 250px
	background: linear-gradient(180deg, #9c73b9, #815c9c)
	display: flex
	align-items: center
	justify-content: center
	margin-top: 40px
	border-radius: 10px
	transition: .4s all
	&:hover
		transform: scale(1.05)