.format
	padding: 98px 0 88px 0
	min-height: 550px
	background: #4A456E
	&__wrapper
		display: flex
		justify-content: center
		margin-top: 46px
		gap: 40px
	&__item
		width: 220px
	&__round
		width: 100px
		height: 100px
		display: flex
		justify-content: center
		align-items: center
		margin: 0 auto
		border: 2px solid #fff
		border-radius: 50%
		img
			width: 60%
			height: 60%
	&__subtitle
		text-align: center
		color: #fff
		margin-top: 15px
		font-weight: 400
		font-size: 16px
	&__feedback
		color: #fff
		text-align: center
		margin-top: 32px
		font-size: 28px
		font-weight: 700