.promo
	min-height: 750px
	background: url("../img/bgs/promo_bg.png") center center/cover no-repeat
	padding: 270px 0 34px 0
	color: #fff
	br
		display: none
	&__header
		font-weight: 700
		font-size: 48px
	&__subheader
		font-weight: 700
		font-size: 44px
		margin-top: 16px
	&__course
		font-size: 34px
		margin-top: 15px
		line-height: 50px
	&__about-hard
		font-size: 27px
		line-height: 28px
		margin-top: 15px
		font-weight: 300
	&__contact
		margin-top: 20px
		width: 250px
		text-align: center
		font-size: 19px
		font-weight: 700
	&__social
		width: 250px
		display: flex
		justify-content: center
		align-items: center
		margin-top: 8px
		gap: 20px
	&__link
		img
			width: 45px
			height: 45px