.questions
	padding: 98px 0 88px 0
	min-height: 750px
	background: $main-color
	&__wrapper
		color: #fff
		width: 900px
		margin: 0 auto
		margin-top: 60px
	&__item
		margin-top: 36px
		border-top: 2px #5b75b3 solid
		border-bottom: 2px #5b75b3 solid
		padding: 15px 0 10px 0
		transition: .6s all
	&__content
		display: flex
		justify-content: space-between
		align-items: center
		cursor: pointer
	&__plus
		height: 100%
		transition: .6s all
		&_active
			transform: rotate(-45deg)
	&__subtitle
		font-size: 22px
		font-weight: 700
	&__answer
		
		font-size: 19px
		font-weight: 300
		visibility: hidden
		max-height: 0
		transition: .6s all
		overflow: hidden
		&_active
			
			visibility: visible
			max-height: 130px
			margin-top: 20px