doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body
		include blocks/menu
		include blocks/promo
		include blocks/about-course
		include blocks/format
		include blocks/program
		script(src="js/index.js")